.containerInfo__title {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    text-transform: uppercase;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.containerInfo__phrase {
    color: black;
    font-size: 30px;
    padding: 20px;
    background: linear-gradient(135deg, rgba(255,255,255,0.25), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.25);
    text-align: center;
    aspect-ratio: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
}

.containerInfo__author {
    font-size: 15px;
    color: black;
    background-color: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.25);
    border-radius: 15px;
    font-weight: lighter;
    text-align: center;
    padding: 10px 20px;
    max-width: max-content;
    margin: 0 auto;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
    